body { background: #2f6096; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 51px; display: flex; }
.block-token-0 { color: #f26105; font-size: 15px; margin-bottom: 5px; }
.block-helper-1 { color: #b6cdba; font-size: 14px; margin-bottom: 5px; }
.block-payment-2 { color: #185f0a; font-size: 14px; margin-bottom: 5px; }
.block-shipping-3 { color: #7fa3a1; font-size: 15px; margin-bottom: 5px; }
.block-user-4 { color: #d845ac; font-size: 17px; margin-bottom: 5px; }
.block-search-5 { color: #91e4f5; font-size: 12px; margin-bottom: 5px; }
.block-uploader-6 { color: #57fef; font-size: 20px; margin-bottom: 5px; }
.block-filter-7 { color: #69d114; font-size: 15px; margin-bottom: 5px; }